p(class="main-text").
	Наши встречи делают мою жизнь все прекрасней и приятней. Наши чувства творят новые энергии добра и украшают собой мир, а наша любовь делает нас счастливыми и позволяет нам одаривать ее светом всех окружающих нас людей. Пусть это будет все бесконечно долго.
